.git
.gitignore
__pycache__
*.py[cod]
*.sqlite3
.pytest_cache
.mypy_cache
.ruff_cache
.env
.env.*
!.env.example
venv
.venv
media
backups
staticfiles
*.md
docs
.idea
.vscode
terminals
*.drawio
/staticfiles/*
/db.sqlite3